.student-container {
  background-color: beige;
  padding: 20px;
  max-width: auto;
  margin: auto;
  padding-bottom: 100px;
}

.student-title {
  text-align: center;
  margin-bottom: 15px;
  color: #3598fa;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.student-table th {
  background-color: #3498db;
  color: white;
}

.student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.student-table tr:hover {
  background-color: #b3c9da;
}
